// Tailwind CSS imports
@import "tailwindcss";

// Internal styles
@import "./fonts.scss";
@import "./icons.scss";
@import "./animations.scss";

html {
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  color: #2D3748;
}

*:invalid {
  @apply shadow-none;
}
