// Tailwind CSS imports
@import "tailwindcss";

// Internal styles
@import "./fonts.scss";
@import "./icons.scss";
@import "./animations.scss";

$scrollbarColor: theme("colors.gray.600");

html {
  @apply overflow-x-hidden;
  @apply overflow-y-scroll;

  font-size: 14px;
}

body {
  @apply text-gray-900;
  @apply bg-white;

  font-family: "Roboto", sans-serif;
}

*:invalid {
  @apply shadow-none;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $scrollbarColor transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbarColor;
  }
}
